[Unit]
Description=Maintenance
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=noname

Environment="MAINTENANCE_FULL_PRODUCTION=yes"
EnvironmentFile=/home/noname/env_vars

ExecStart=/bin/bash -c '/home/noname/releases/${RELEASE}/bin/maintenance start'

ExecStop=/bin/bash -c '/home/noname/releases/${RELEASE}/bin/maintenance stop'

[Install]
WantedBy=multi-user.target