<h1>Jobs for <%= @project %></h1>


<table>
  <thead>
    <tr>
      <th>Job</th>
    </tr>
  </thead>
  <tbody>
<%= for job <- @jobs do %>
    <tr>
      <td><%= link job, to: Routes.job_path(@conn, :show_entries, @project, job) %></td>
    </tr>
<% end %>
  </tbody>
</table>


<span><%= link "Back", to: Routes.job_path(@conn, :index) %></span>
