<h1>Jobs for <%= String.capitalize(@project) %></h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
    </tr>
  </thead>
  <tbody>
<%= for job <- @jobs do %>
    <tr>
      <td><%= link job, to: Routes.project_path(@conn, :show_entries, @project, job) %></td>
    </tr>
<% end %>
  </tbody>
</table>

[ <span><%= link "Back to Jobs", to: Routes.project_path(@conn, :index) %></span> ]
[ <span><%= link "View All Jobs", to: Routes.job_path(@conn, :index) %></span> ]
